*,
*::before,
*::after {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.calendar {
  padding-top: 10px;
  flex: 0 0 70%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendarInactive {
  box-shadow: none;
  background: var(--light-highlight);
}

.calendarToday {
  box-shadow: 0 0 10px var(--accent-color);
}

.calendarDay {
  display: grid;
  font-size: 0.95rem;
  min-height: 60px;
  max-height: 90px;
  outline: none;
  border: none;
  cursor: default;
  position: relative;
}

.calendarDayOfWeek {
  display: flex;
  color: #808080;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.calendarBigTxt {
  display: inline;
}

.calendarMediumTxt {
  display: none;
}

.calendarSmallTxt {
  display: none;
}

.calendarDayNum {
  color: #808080;
  padding: 3px 0 0 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.calendarDayActivities {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
  overflow-y: scroll;
}

.calendarActivity {
  background: white;
  margin: 0px 5px 10px 5px;
}

.calendarActivity .icon-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calendarSummary {
  flex: 1;
  height: 80vh;
  overflow-y: auto;
}

.activityType {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.activityHeader {
  margin-bottom: 10px;
}

.stats .verticalLine {
  display: none;
}

.stats .horizontalLine {
  display: inline;
}

.statsGrid {
  justify-content: center;
}

.totalsSummaryContainer {
  padding-right: 0;
}

.summaryContainer:nth-child(2n + 1) {
  border-radius: 8px;
  background: var(--light-highlight);
}

.statsGrid > div {
  padding: 5px 20%;
  flex: 1 1 100%;
}

@media screen and (max-width: 1366px) {
  .statsGrid > div {
    padding: 5px;
  }
}

@media screen and (max-width: 930px) {
  .calendarBigTxt {
    display: none;
  }

  .calendarMediumTxt {
    display: inline;
  }

  .calendarSmallTxt {
    display: none;
  }

  .calendarSummary {
    height: 85vh;
  }
}

@media screen and (max-width: 750px) {
  .mainContainer {
    flex-direction: column; /* stack vertically instead of side by side */
  }
  .calendar {
    flex: 0 0 100%;
    width: 100%;
  }
  .calendarSummary {
    flex: 0 0 100%;
    width: 100%;
  }

  .statsGrid {
    overflow-y: auto;
    gap: 5px;
    justify-content: center;
  }

  .statsGrid > div {
    padding: 5px 30vw;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 750px) {
  .statsGrid > div {
    padding: 5px 20vw;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 550px) {
  .calendarDayActivities {
    padding-top: 20px;
  }

  .calendarDay {
    max-height: 95px;
  }

  .calendarBigTxt {
    display: none;
  }

  .calendarMediumTxt {
    display: none;
  }

  .calendarSmallTxt {
    display: inline;
  }
}
