:root {
  --mobile-font-size: 16px;
  /* --light-highlight: rgba(110, 110, 110, 0.1); */
  --light-highlight: #f0f0f0;
  --accent-color: darkolivegreen;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: white;
}

.icon-container {
  padding: 4px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 16px;
  height: auto;
}

.stat-icon-img {
  padding-left: 5px;
  width: 20px;
  height: auto;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.activityCardStat {
  display: flex;
  justify-content: space-between;
}

.activityCardStat .statNameText {
  display: none;
}

.activityCardStat .statNameIcon {
  display: inline;
}

.activityCardStatName {
  font-weight: bold;
  padding-left: 5px;
}

.activityCardStatValue {
  padding-right: 5px;
  text-align: right;
  font-style: italic;
}

.navHeader {
  display: inline-flex;
  gap: 15px;
}

.navButtons {
  padding-left: 10px;
  padding-bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.navButtons a {
  font-weight: bold;
  color: black;
}

.navDates {
  font-style: italic;
}
