header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTabs {
  display: flex;
  gap: 15px; /* space between headings */
  align-items: center; /* align them vertically */
}

header h1 {
  margin: 0;
}

.headerMargin {
  margin-bottom: 30px;
}

.inactive a {
  color: rgba(110, 110, 110, 0.4);
}

.active a {
  color: black;
}

header .header-img {
  width: 24px;
  height: auto;
}

header .header-img-wrapper {
  position: relative;
  display: inline-block;
}

header .header-img-wrapper .header-img {
  display: block;
}

header .header-img-wrapper .header-img-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkolivegreen;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none; /* so clicks go through to the link */
}

header .athlete-txt {
  font-size: 24px;
  font-family: system-ui;
}

.headerTxt {
  font-weight: bold;
}

.headerTxtLarge {
  font-size: 30px;
  display: inline;
}

.headerTxtSmall {
  font-size: var(--mobile-font-size);
  display: none;
}

.headerTxtMedium {
  font-size: var(--mobile-font-size);
  display: none;
}

@media screen and (max-width: 930px) {
  .headerMargin {
    margin-bottom: 10px;
  }

  .headerTxtLarge {
    display: none;
  }

  .headerTxtMedium {
    display: inline;
  }

  .headerTxtSmall {
    display: none;
  }

  header .header-img-wrapper .header-img-txt {
    font-size: 12px;
  }

  header .header-img {
    width: var(--mobile-font-size);
  }

  header .athlete-txt {
    font-size: var(--mobile-font-size);
  }
}

@media screen and (max-width: 500px) {
  .headerTxtLarge {
    display: none;
  }

 .headerTxtMedium {
     display: none;
 }

  .headerTxtSmall {
    display: inline;
  }

.htmx-request .update-indicator,
.htmx-request.update-indicator {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
