body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

.formEl {
  border-radius: 14px;
  font-size: 16px;
  padding: 6px;
}

.submitBtn {
  background-color: var(--accent-color);
  font-weight: bold;
}
