body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

.loginHeader {
  display: inline-flex;
  gap: 5px;
}

.loginLogo {
  width: 32px;
  height: 32px;
  padding-top: 21px;
}

.formEl {
  border-radius: 14px;
  font-size: 16px;
  padding: 6px;
}

.loginForm > input {
  border: 2px solid var(--accent-color);
}

.submitBtn {
  background-color: var(--light-highlight);
  font-weight: bold;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.submitBtn:hover {
  background-color: var(--accent-color);
  color: var(--light-highlight);
}
